*{
    padding: 0;
    margin: 0;
}

.finalwork{
    width: 100%;
    height: 130vh;
}

.two_txt{
    width: 85%;
    height: 40vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.biggerxt{
    font-size: 50px;
    font-family: "small_text";
    color: black;
}

.smallerxt{
   font-size: 20px;
    color: gray;
    font-family: "small_text";
    position: relative;
    width: 690px; 
    text-align: left;
}

.two_divs{
    width: 85%;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    margin-top: 80px;
}

.last1{
    width: 30%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 3px solid gray;
    align-items: center;
}

.last2{
    width: 70%;
    height: 50vh;
    border: 2px gray solid;
    border-radius: 50px;
}

.last1>p{
    font-size: 25px;
    font-family: "small_text";
    position: relative;
    width: 690px; 
    text-align: left;
    margin-left: 40px;
}

.big_text_ohyeah{
    font-size: 30px;
    color: #2E2BD0;
    font-family: "small_text";
    position: relative;
    margin-left: 30px;
    top: 20px;
    font-weight: 900;
}

.smallertextr{
    font-size: 22px;
    color: gray;
    font-family: "small_text";
    position: relative;
    left: 30px;
    top: 80px;
    width: 800px;
    height: 27vh;
}

.last_pipka{
    position: absolute;
    background-color: #2E2BD0;
    width: 5px;
    height: 50px;
    right: 92.2%;
    border-radius: 15px;
}

